<!DOCTYPE html>
<html lang="da-DK">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Se liste - Intec</title>
  <link rel="icon" type="image/x-icon" href="favicon.png">
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
    .myLink {display: none}

    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background-color: white;
      color: black;
      text-align: center;
    }
  </style>
</head>
<body class="w3-white">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge w3-padding-16">
  <img src="Logo.jpg" style="max-width:15%;">
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
  <img class="w3-image" src="Serverroom.jpg" alt="serverroom" style="width:100%;heigth:100%;">
  <div class="w3-display-middle" style="width:65%">
    <div class="w3-bar w3-dark-grey">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Menu');"></i>Menu</button>
      <button class="w3-bar-item w3-button tablink w3-right" onclick="openLink(event, 'Log ud');"></i>Log ud</button>
    </div>

    <!-- Tabs -->
    <div id="Menu" class="w3-container w3-white w3-padding-16 myLink">
      <h3>Her kan du se en liste over hvem der har været på lageret</h3>
      <div class="w3-row-padding w3-quart" style="margin:0 -16px;">
        <form method="get" action="admin">
          <button class="w3-button w3-border w3-white">Tilbage</button>
        </form>
      </div>
    </div>

    <form method="get" action="index">
      <div id="Log ud" class="w3-container w3-white w3-padding-16 myLink">
        <h3>Sikker på at du gerne vil logge ud?</h3>
        <button class="w3-button w3-border w3-white" formaction="index">Log ud</button>
      </div>
    </form>
  </div>
</header>

<!-- Contact -->
<div class="footer">
  <h2>Kontakt</h2>
  <p>Kontakt os, hvis du har nogle spørgsmål</p>
  <i class="fa fa-map-marker" style="width:30px"></i> Danmarksgade 6B, 4690 Haslev, DK<br>
  <i class="fa fa-phone" style="width:30px"></i> Telefon: +45 5672 0707<br>
</div>
<!-- End page content -->
</div>

<script>
  // Tabs
  function openLink(evt, linkName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("myLink");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-indigo", "");
    }
    document.getElementById(linkName).style.display = "block";
    evt.currentTarget.className += " w3-indigo";
  }

  // Click on the first tablink on load
  document.getElementsByClassName("tablink")[0].click();
</script>
</body>
</html>